*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
  text-align: center;  /* აქ ცენტრში გადაგაქვთ */
}

input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e2e2e2;
}